/src/blaster/testfiles/DmelChr4_chunks.fa.Nstretch.map
/src/blaster/testfiles/DmelChr4_chunks.fa_cut
/src/blaster/testfiles/DmelChr4_chunks.fa_cut.nhr
/src/blaster/testfiles/DmelChr4_chunks.fa_cut.nin
/src/blaster/testfiles/DmelChr4_chunks.fa_cut.nsq
/src/blaster/testfiles/seq1.fa.Nstretch.map
/src/blaster/testfiles/seq1.fa_cut
/src/blaster/testfiles/test.align
/src/blaster/testfiles/test.param
/src/blaster/testfiles/test.raw
/src/blaster/testfiles/test.seq_treated
