# Prerequisites
*.P

# Compiled Object files
*.o
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/hasher2/testfiles/DmelChr4.fa.hasher.align
/hasher2/testfiles/TEsBuisine.fa.extracted.kidx
/hasher2/testfiles/AlyrCrubTparAalpBrapAtha_TEannot2.gff3.fa.cleaned.kidx
/hasher2/testfiles/duster-specific.fa.extracted
/hasher2/testfiles/duster-specific.fa.extracted.hasher.align
/hasher2/testfiles/AlyrCrubTparAalpBrapAtha_TEannot2.gff3.fa.cleaned
/hasher2/testfiles/TEsBuisine.fa.kidx
*.kidx
/.buildpath
/BLRlib/testfiles/test_u.dSYM
/hasher2/testfiles/duster-specific.fa.hasher.align
/BLRlib/testfiles/test_u
/hasher2/testfiles/duster-specific.fa

\.idea/

cmake-build-debug/

CMakeLists\.txt

TE_finder\.sublime-project

TE_finder\.sublime-workspace
