/DmelChr4.fa-megablast-316416173-small.align.group.c0.95.fa
/DmelChr4.fa-megablast-316416173-small.align.group.c0.95.param
/DmelChr4.fa-megablast-316416173-small.align.group.c0.95.set
/DmelChr4.fa-megablast-316416173-small.align.group.c0.95.txt
