/AthaGenome.fa
/AthaGenome.fa.extracted
/AthaGenome.fa.extracted.hasher.bed
/AthaGenome.fa.extracted.hasher.frag.bed
/AthaGenome.fa.hasher.bed
/AthaGenome.fa.hasher.frag.bed
/DmelChr4.fa.hasher.bed
/DmelChr4.fa.hasher.bed.fa
/DmelChr4.fa.hasher.frag.bed
/TEsBuisine.fa
/TEsBuisine.fa.extracted
/Test_Duster.cpp
/Test_Duster.h
/test_u.cpp
/tmp
/tmp2
/test_u.dSYM/
/test_u
/DmelChr4_denovoLibTEs.fa.kidx
